*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: large;
}

/* upper div */
.input-container{

background: #2C3A47;

height: 20vh;

padding-top: 2%;
}

/* textbox */
.todo-input{

display: block;

margin: auto;

height: 30%;

width: 70%;

position: relative;

outline: none;

background: #182C61;

color: white;

text-align: center;

border-radius: 20px;
}

/* add button */
.add-todo{

display: block;

margin: auto;

margin-top: 21px;

border: 2px solid;

border-radius: 10px;

height: 36px;

padding: 7px;

background: #82589F;
}

/* lower div */
.todos-container{
    display:block;
    margin:auto;
    background: aqua;
    height: 80vh;
    margin-top: -6px;
}

.todos-list{display: block;margin: auto;}

/* a single row of list having list item and delete button  */
.todo-item{

display: block;

margin: auto;

background: #55E6C1;

width: 709px;

padding: 15px;

border: 0px;

border-radius: 50px;

margin-top: 6px;
color: white;
}

/* actual content */
.todo{display: block;margin: auto;text-align: center;background: #3B3BE3;border-radius: 50px;height: 27px;}

/* delete button */
.delete-task{
 
display: block;
 
margin: auto;
 
margin-top: 5px;
 
border: 1px solid;
 
border-radius: 11px;
 
padding: 7px;
 
background: #82589F;
}

